
.parallax-container {
    transform-style: preserve-3d;
    // position: relative;
    height: 92vh;
}

// #parallax-foreground {
    // transform-style: preserve-3d;
    // position: relative;
// }

.background-image {
    content: ' ';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateZ(-1px) scale(1.6);
    background-size: 100%;
    z-index: -1;

    background: url('../character/background.png');
    background-size: cover;
}

.background-tile {
    content: ' ';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateZ(-1px) scale(1.6);
    background-size: 100%;
    z-index: -2;

    background-image: url("../img/background_texture-colored.png");
    background-repeat: repeat;
}
